@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "IBM Plex Mono", monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.text-border {
  -webkit-text-fill-color: theme("colors.salmon");
  -webkit-text-stroke-color: theme("colors.black");
  -webkit-text-stroke-width: 0.125rem;
}

.square-mark {
  @apply absolute w-4 h-4 bg-white border-2 border-black;
}

.link {
  @apply hover:underline-offset-8;
  @apply text-2xl font-medium underline decoration-wavy p-4 m-4 border-4 border-black bg-white text-black shadow-2xl;
}

.box {
  @apply border-4 border-black shadow-3xl shadow-black;
}
